/*section */

#mainHeading{
  color: orange;
}





/*section */
.titlediv{
  background-color: #A58;
  border: #A58 2px solid;
  width: 70%;
  height: 75px;
  margin: 0 auto;
}
h2{
  text-align: center;
  font-size: 40px;
  color: #FFF;
}



/*section *****************************************************************/
.maindiv{
  border: #A58 2px solid;
  width: 70%;
  margin: 0 auto;
}
#top{
  background-color: #AAA;
  width: 100%;
  height: 100px;
}
#bottom{
  background-color: #DDD;
  width: 100%;
  height: 400px;
  margin: auto;
}
.pClass{
  background-color: lightgreen;
  width: auto;
  margin: 10px auto;
}
.spanClass{
  display: inline-block;
  width: 16px;
  background-color: white;
  border: 1px black solid;
}
